.ALL{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_image{
  height: 550rpx;
  width: 100%;
  background-color: rgb(244, 245, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_image image{
  width: 500rpx;
  height: 300rpx;
}
.middle_input{
  height: 120rpx;
  width: 700rpx;
  background-color: red;
  border-radius: 60rpx;
  display: flex;
  align-items: center;
}
.middle_input input{
  margin-left: 40rpx;
  width: 550rpx;
}
.middle_input image{
  height: 70rpx;
  width: 70rpx;
}