/* pages/mine/pandaShopping/rule/rule.wxss */
.one{
font-size: 35rpx;
font-weight:bold;
line-height: 80rpx;
}
.two{
  font-weight:bold;
  line-height: 80rpx;
  font-size: 28rpx;
}
.three{
line-height: 30rpx;
font-size: 25rpx;
font-weight:200;
}
.main{
  margin-left: 35rpx;
}