/* pages/buy/buyson/buyed/buyed.wxss */
page {
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.scrollarea{
  flex: 1;
  overflow-y: hidden;
}
.Top{
  margin-top: -180rpx;
  width: 95%;
  height: 350rpx;
  background: rgb(255, 255, 255);
  border-radius: 40rpx;;
}
.Top-wordview{

  width: 80%;
  height: 300rpx;
  margin-top: 70rpx;
  margin-left: 20rpx;
}
.Top-t1{
  display: block;
  font-size: 29rpx;
  font-weight: bold;
}
.Top-t2{
  display: block;
  width: 480rpx;
  font-size: 27rpx;
  color: #a6a8ac;
}
.Top-t3{
  margin-top: 90rpx;
  display: block;
  font-size: 29rpx;
  color:#7a7a7a;
  font-weight: 600;
}
.Top-Other{
margin-top: -330rpx;
margin-left: 490rpx;
width: 30%;
height: 300rpx;

}
.Top-Other-t1{
  margin-top: 5rpx;
  margin-left: 70rpx;
  width: 130rpx;
  height: 40rpx;
  border: 1px solid #868686;
  font-size: 24rpx;
  text-align: center;
  color: #868686;;
}
.Top-Other image{
  overflow: hidden;
  width: 80rpx;
  height: 80rpx;
  color: #7a7a7a;
  margin-left: 5rpx;
  border: 2prx #0b4cda solid;

  
}
  .imgfather{
    margin-top: 10rpx;
    width: 90rpx;
    height: 90rpx;
    color: #7a7a7a;
    margin-left: 80rpx;
    border: 4px #0b4cda solid;
    border-radius: 90rpx;;
  }
  .main{
    border-radius: 40rpx;;
    position: relative;
    top: -90rpx;
    width: 95%;
    height: 500rpx;
    background: rgb(255, 255, 255);
  }
  .main-top{
    margin-top: 30rpx;
    margin-left: 20rpx;
    width: 90%;
    height: 200rpx;
    background: rgb(255, 255, 255);
  }
  .main-top-t1{
    font-size: 27rpx;
    font-weight: bold;
  }
  .main-top-t2{
    margin-top: -35rpx;
    margin-left: 453rpx;
    display: block;
    font-size: 23rpx;
    text-align: center;
    width:200rpx;
    height: 40rpx;
     background: #e5effb;
     color: #5c89f3;
  }
.main-top-index image{
  margin-top: 5rpx;
  width: 150rpx;
  height: 150rpx;
}
.index-view{
  width: 500rpx;
  height: 200rpx;

  margin-top: -125rpx;
  margin-left: 165rpx;
}
.index-t1{
  font-weight: 500;
  display: block;
}
.index-t2{
  display: block;
  margin-top: 10rpx;
  font-size: 26rpx;
  color: #a5a8ac;
}
.index-t3{
  font-weight: 500;
  font-size: 30rpx;
  display: block;
  margin-top: -85rpx;
  margin-left: 420rpx;
  
}
.index-t4{
  color: #adaeb0;
  font-weight: 600;
  font-size: 24rpx;
  display: block;
  margin-top: 0rpx;
  margin-left: 450rpx;
}
.main-f1{
  margin-top: 40rpx;
  width: 100%;
  height: 70rpx;
  background: linear-gradient(to right,#e4f0fe, rgb(255, 255, 255));
}
.main-f1-t1{
 position: relative;
 top: 20rpx;
 left: 30rpx;
  width: 30rpx;
  height: 30rpx;
  background-color: #1d60f3;
  text-align: center;
  line-height: 29rpx;
  color: white;
  font-size: 18rpx;
  font-weight: bold;
}
.main-f1-t2{
  position: relative;
  top:-15rpx;
  left: 65rpx;
  display: block;
  font-size: 29rpx;
  font-weight: bold;
}

.scrollview{

  width: 100%;
  height: 155px;
}
    .M-TB4{  
      
      height: 155px;
      justify-content: left;
      margin-top: 0px;
      display: flex;
      width: 500px;
    }
    .M-TB4-BG{
      left: 22px;
      top: 643px;
width: 111px;
height: 155px;
line-height: 20px;
background-color: rgba(255,255,255,1);
color: rgba(16,16,16,1);
font-size: 14px;
text-align: center;
border: 1px solid rgb(219, 219, 219);
font-family: Roboto;
margin-left: 10px;
    }
    .M-TB4 image{
      position: relative;
      width: 40rpx;
      height: 40rpx;
      top:8px;
     
    
    }
    
    .M-TB4-1{
      margin-top: 25PX;
      margin-left: 35px;
      width: 36px; 
      height: 36px;
      border-radius: 30px; 
      background: linear-gradient(142.96deg, rgba(252,195,49,1) 7.26%,rgba(255,138,14,1) 87.5%);
  
    }
    
    .M-TB4-Text{
      display: block;
      width: 44px;
      position: relative;
      top: 16px; 
      left: -5px;
      font-size: 10px;
    }
    .M-TB4-Text2{
      display: block;
      width: 55px;
      position: relative;
      top: 16px; 
      left: -9px;
      color: rgb(121,121,121);
      font-size: 8px;
    }
    .M-TB4-Textimage{
      width: 9px;
      height: 9px;
      margin-left: -38px ;
      margin-top: 5px;
    }