/* pages/mine/pandaShopping/pandaShopping.wxss */
/*头部*/


/* 熊猫币商城*/
.top{
  /*background: linear-gradient(to right, gold, transparent);*/
  height: 250rpx;
  width: 100%;
  display: flex;
  position: relative;
  background: linear-gradient(#f2dfd2,white);
}
.coin{
  font-size: 28rpx;
  text-align: center;
  position: relative;
  left: 10%;
  top: 30%;
}
.coin .number{
  font-size:50rpx ;
  margin-top: 10rpx;
}
.top image{
  height: 150rpx;
  width: 150rpx;
  position: relative;
  left: 60%;
  top: 15%;
}
/*明细、规则、订单 */
.rule{
  height: 220rpx;
  background-color:#322423;
  border-radius: 35rpx;
  column-count:3;
  z-index: -1;
}

.rule image{
  height: 50rpx;
  width: 50rpx;
  background: linear-gradient(#fff,#e0b598);;
  border-radius: 50rpx;
  padding: 7rpx;
  margin: 20rpx 0  10rpx 0;
}
.rule view{
  font-size: 20rpx;
  text-align: center;
  color:#e3c8bb;
}
/*满减券导航条*/
.main{
 background-color: #ffffff;
 height: 100%;
 width: 100%;
 border-radius: 35rpx;
 margin-top:-85rpx;
 position: absolute;
}
.discount{
  height: 10s0rpx;
  display:flex;
 position: relative;
 top: 20rpx;
 left: 20rpx;
 font-size: 35rpx;
}
.coupon{
  margin: 20rpx;
  color:#969696;
  line-height: 20rpx;
 
}
.coupon :active{
  border-bottom: 1px solid #426dac;
  color:#426dac;
}

/*券*/
.ticket{
  display:flex;
  background-color:#fafbfd;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  top: 30rpx;
  height: 100%;
  
}
.tic_main{
font-size: 20rpx;
 text-align: center;
  background-color:#fbfcec;
  width: 280rpx;
  height:350rpx;
  border-radius: 25rpx;
  margin: 40rpx 70rpx 0 20rpx;

}
.ticket image{
  height: 300rpx;
  width: 300rpx;
}
.tic_bottom{
  background-color: white;
  border-end-end-radius:25rpx ;
  border-end-start-radius:25rpx ;
  height: 40%;
}
.tip{
  line-height: 80rpx;
  border-bottom: 1px solid ;
  text-align: left;
  margin-left: 10rpx;
  font-size: 30rpx;
  color: #98c981;
}

.txt1{
  font-size: 25rpx;
  float: left;
  line-height: 60rpx;
  color: #234c91;
  margin-left: 10rpx;
}
.txt2{
  font-size: 20rpx;
  float: right;
  line-height: 60rpx;
  color: #8d8d8d;
}



















