/* pages/buy/buyson/explan/explan.wxss */
page{
  background: #f8f8f8;
}


.top{
  width: 390px;
  height: 114px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  font-family: Roboto;
}
.top-1{
  display: flex;
  justify-content:space-between;
  width: 70%;
  height: 100rpx;
  margin: auto;
  // background-color: rgb(255, 221, 221);
}
.top-1-b1{
  width: 117rpx;
  height: 60rpx;
  // background-color: red;
  font-size: 28rpx;
  font-weight: bold;
  border-bottom: 2rpx #084dd8 solid;;
}
.top-1-b2{
  width: 117rpx;
  height: 60rpx;
  // background-color: red;
  font-size: 28rpx;
  font-weight: 500;
  color: #bbbbbb;
}
.top-2{
  width: 100%;
  height: 128rpx;
  background-color: #ecececb7;
}
.sslview{
  position: relative;
  top: 30rpx;
  left: 25rpx;
  width: 90%;
  height: 60rpx;
  border-radius:30rpx ;
  background-color: rgb(255, 255, 255);
}
.sslview image{
  width: 30rpx;
  height: 30rpx;
  position: relative;
  top: -30rpx;
  left: 160rpx;
}
.sslview input{

margin-top: -75rpx;
margin-left: 200rpx;
  font-size: 24rpx;

}
.city{
  display: block;
  font-weight: bold;
position: relative;
top: 10rpx;
left: 35rpx;
font-size: 26rpx;
width: 100rpx;
height: 40rpx;
border-right:2px  rgb(224, 224, 224) solid;
}
.map {
  width: 100%;
  height: 210px;
}
.mapcontrl{
  width: 100%;
  height: 50rpx;
  background-color: #f8f8f8;
  text-align: center;
  font-size: 24rpx;
  color: #999999;
  line-height: 55rpx;
}
.mapcontrl image{
position: relative;
top: 8rpx;
left: 9rpx;
width: 35rpx;
height: 35rpx;

}
.mid{
  display: flex;
  justify-content: space-around;
  flex-direction:column;
  width: 95%;
  height: 510rpx;
  margin-left: 20rpx;
}
.adoor{
  width: 90%;
  height: 230rpx;
background-color: white;
margin: auto;

}
.addorimg1{
  width: 35rpx;
  height: 35rpx;
  position: relative;
  top: 20rpx;
  left: 20rpx;
}
.addoor-t1{
  font-size: 27rpx;
  font-weight: bold;
  position: relative;
  top: 15rpx;
  left: 30rpx;
}
.addoor-t2{
  width: 80rpx;
  height: 35rpx;
  border: 1px solid #074ae4;
  font-size: 24rpx;
  text-align:center;
  color: #074ae4;
  position: relative;
  top: 35rpx;
  left: 30rpx;
}
.addoor-t3{
  font-size: 27rpx;
  position: relative;
  top: -60rpx;
  left: 550rpx;
}
.addoor-t4{
  position: relative;
  top: 10rpx;
  left: 30rpx;
  font-size: 24rpx;
  color: #c3c3c5;
}
.addoor-icon {
  width: 35rpx;
  height: 35rpx;
  border: 1px solid #c4c4c6;
  border-radius: 25rpx;
  position: relative;
  top: -20rpx;
  left: 460rpx;
}
.addoor-icon image{
  width: 25rpx;
  height: 25rpx;
position: relative;
top: -5rpx;
left: 5rpx;
}
.addoor-icon2 {
  width: 95rpx;
  height: 35rpx;
  border: 1px solid #c4c4c6;
  border-radius: 25rpx;
  position: relative;
  top: -59rpx;
  left: 515rpx;
  font-size: 24rpx;
  line-height: 20rpx;
}
.addoor-icon2 image{
  width: 32rpx;
  height: 32rpx;
position: relative;
top: 1rpx;
left: 5rpx;
}
.icont1{
position: relative;
top: -7rpx;
left: 10rpx;
}