/* pages/mine/level/level.wxss */

// 背景渐变色组合
// .level2{
//   background: linear-gradient(to bottom, #c8f2ff, #fdfeff);
// }

page{
  height: 100%;
}

// 滚动条
.container1 {
  // height: 10000rpx;
  height: 100%;

  // 顶部背景图
  .bac{
    z-index: -99;
    width: 100%;
    height: 60%;
    position: absolute;
  }

  // 顶部文字
  .top {
    text-align: center;
    padding-top: 40rpx;

    .topText {
      font-size: 32rpx;
    }
  }

  // 用户名称 头像
  .userInfo{
    padding-left: 40rpx;
    margin-top: 100rpx;
    display: flex;
    align-items: center;
    .avatar{
      width: 80rpx;
      height: 80rpx;
      border-radius: 100%;
      margin-right: 30rpx;
    }
    .nike{
      font-weight: 700;
    }

  }
}