/* pages/mine/level/level.wxss */

// 背景渐变色组合
// .level2{
//   background: linear-gradient(to bottom, #c8f2ff, #fdfeff);
// }

page {
  height: 100%;
  background-color: #ecf0f3;
}

// 滚动条
.container1 {
  // height: 10000rpx;
  height: 100%;

  // 顶部背景图
  .bac {
    z-index: -99;
    width: 100%;
    height: 66%;
    position: absolute;
  }

  // 顶部文字
  .top {
    text-align: center;
    padding-top: 40rpx;

    .topText {
      font-size: 32rpx;
    }
  }

  // 用户名称 头像
  .userInfo {
    position: relative;
    padding-left: 40rpx;
    margin-top: 100rpx;
    display: flex;
    align-items: center;

    .avatar {
      width: 80rpx;
      height: 80rpx;
      border-radius: 100%;
      margin-right: 30rpx;
    }

    .nike {
      font-weight: 700;
      width: 390rpx;
    }

    // 侧边俩按钮
    .rightBtn {
      position: absolute;
      text-align: right;
      right: 0;

      .details {
        color: #333333;
        margin-top: 10rpx;
        font-size: 20rpx;
        padding: 10rpx 20rpx 10rpx 20rpx;
        background-color: rgba(235, 242, 249, 0.5);
        border-top-left-radius: 30rpx;
        border-bottom-left-radius: 30rpx;
      }
    }
  }

  // 进度条父级
  .progressfa {
    position: relative;

    // 进度条
    .progress {
      // position: absolute;
      width: 90%;
      margin: 0 auto;
      margin-top: 60rpx;
    }

    // 进度条描述文字
    .iconsF {
      width: 100%;
      display: flex;
      justify-content: center;

      .icons {
        display: flex;
        justify-content: space-between;
        width: 95%;

        .icon {
          display: flex;
          flex-direction: column;
          width: fit-content;
          align-items: center;
          font-size: 24rpx;
          margin-top: -14rpx;

          .dot {
            margin-bottom: 20rpx;
            background-color: rgb(255, 255, 255);
            width: 20rpx;
            height: 20rpx;
            border-radius: 100%;
          }

          .dotActive {
            width: 14rpx;
            height: 14rpx;
            border: 6rpx solid #7395cd;
          }

          .dotActive0{
            width: 14rpx;
            height: 14rpx;
            border: 6rpx solid #8c9aa8;
          }
          .dotActive1{
            width: 14rpx;
            height: 14rpx;
            border: 6rpx solid #baca6f;
          }
          .dotActive2{
            width: 14rpx;
            height: 14rpx;
            border: 6rpx solid #7395cd;
          }
          .dotActive3{
            width: 14rpx;
            height: 14rpx;
            border: 6rpx solid #73c2c7;
          }
          .dotActive4{
            width: 14rpx;
            height: 14rpx;
            border: 6rpx solid #6fab9f;
          }
          .dotActive5{
            width: 14rpx;
            height: 14rpx;
            border: 6rpx solid #5f6a5b;
          }
          .dotActive6{
            width: 14rpx;
            height: 14rpx;
            border: 6rpx solid #2d2f2d;
          }
        }
      }
    }


  }

  // 轮播图  
  .banner {
    width: 100%;

    .bannerItem {
      display: flex;
      justify-content: center;

      image {
        z-index: -10;
        position: absolute;
        height: 300rpx;
        // width: 80%;
      }

      .text {
        position: relative;
        width: 80%;
        left: 5%;
        top: 7%;

        // 显示当前等级
        .topLeft {
          // display: none;
          // visibility: hidden;
          position: relative;
          left: -10%;
          // top: -80%;
          // width: fit-content;
          height: 36rpx;
          width: 104rpx;
          font-size: 26rpx;
          padding: 14rpx;
          color: #aeb4ac;
          border-top-left-radius: 36rpx;
          border-bottom-right-radius: 36rpx;
          background-color: #f8f8f8;
        }

        // 轮播图文字
        .textDec {
          margin-top: 10rpx;
          color: white;

          .row1 {
            font-weight: 700;
            font-size: 34rpx;
            height: 50rpx;
            // line-height: 50rpx;
            margin-bottom: 6rpx;
          }

          .row {
            font-size: 24rpx;
            font-weight: 100;
            // height: 50rpx;
            line-height: 45rpx;
          }
        }
      }
    }


  }

  // 我的权益部分
  //内容父级
  .boxsFa {
    padding: 30rpx;
    background-color: white;
    margin: auto;
    margin-top: 60rpx;
    width: 84%;
    border-radius: 20rpx;

    // 标题文字
    .topText {
      display: flex;
      justify-content: space-between;

      .title {
        font-weight: 700;
      }

      .more {
        display: flex;
        font-size: 28rpx;
        align-items: center;
        color: #a7b1c5;

        image {
          margin-left: 14rpx;
          filter: grayscale(1000%);
          width: 30rpx;
          height: 30rpx;
        }
      }
    }

    // 盒子容器
    .boxs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20rpx;
      padding: 30rpx;
      padding-bottom: 0;
      .box {
        height: 170rpx;
        width: 33%;
        text-align: center;
        font-size: 26rpx;
        color: #666666;

        .img {
          width: 60rpx;
          height: 60rpx;
        }
      }
    }
  }
}