/*整个页面*/
.pageAll{
  height: 1300rpx;
  width: 100%;
}
/*上半部*/
.half_top{
  height: 50%;
  width: 100%;
  background-color: rgb(9, 75, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*下半部*/
.half_bottom{
  position: absolute;
  top: 600rpx;
  height: 50%;
  width: 100%;
  background-color: white;
  border-radius: 50rpx;
}
/*上半部英文文字框*/
.half_top_text{
  height: 150rpx;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 1px dashed white; /* 设置顶部边框为虚线 */
}
/*上半部英文文字*/
.text_english{
  font-size: 20rpx;
}
/*上半部的整个卡片*/
.half_top_card{
  height: 380rpx;
  width: 650rpx;
  background-color: white;
  border-radius: 30rpx;
  margin-top: 25rpx;
}
/*上半部的卡片的上半部*/
.half_top_card_top{
  height: 250rpx;
  width: 100%;
  display: flex;
}
/*上半部的卡片的上半部的左半部*/
.half_top_card_top_left{
  height: 100%;
  width: 50%;
}
/*上半部的卡片的上半部的左半部的文字内容*/
.half_top_card_top_left view:first-child{
  height: 50rpx;
  width: 100%;
  padding-top: 13rpx;
  margin-left: 40rpx;
  font-size: 26rpx;
  color:rgb(9, 75, 221);
}
.half_top_card_top_left view:nth-child(2){
  font-size: 60rpx;
  font-weight: 900;
  margin-top: -5rpx;
  margin-left: 40rpx;
  color: rgb(9, 75, 221);
}
.half_top_card_top_left view:last-child{
  width: 130rpx;
  height: 50rpx;
  background-color: rgb(9, 75, 221);
  border-radius: 50rpx;
  color: white;
  font-size: 20rpx;
  margin-top: 30rpx;
  margin-left: 40rpx;
  text-align: center;
  line-height: 50rpx;
}
/*上半部的卡片的上半部的右半部*/
.half_top_card_top_right{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
/*上半部的卡片的上半部的右半部的图片框*/
.half_top_card_top_right_image{
  height: 150rpx;
  width: 150rpx;
  border-radius: 50%;
  border: 4px solid rgb(9, 75, 221);
  overflow: hidden;
  margin-right: 20rpx;
}
.half_top_card_top_right_image image{
  max-width: 100%;
  max-height: 100%;
}
/*消费明细*/
.half_top_card_top_right view:first-child{
  height: 40rpx;
  width: 150rpx;
  font-size: 20rpx;
  text-align: center;
  line-height: 40rpx;
  border-top-left-radius: 50rpx;
  border-bottom-left-radius: 50rpx;
  background-color: rgb(230, 230, 230);
  margin-bottom: 10rpx;
  margin-top: 15rpx;
}
/*上半部的卡片的下半部分*/
.half_top_card_bottom{
  display: flex;
  justify-content: center;
}
.half_top_card_bottom view{
  height: 100rpx;
  width: 600rpx;
  background-color: rgb(230, 230, 230);
  border-radius: 25rpx;
  margin-top: 10rpx;
  display: flex;
  align-items: center;
}
.half_top_card_bottom view image{
  height: 65rpx;
  width: 65rpx;
  margin-left: 30rpx;
}
.half_top_card_bottom view input{
  height: 80rpx;
  width: 400rpx;
  color: grey;
}
.half_top_card_bottom view text{
  font-size:27rpx;
  color: rgb(119, 207, 24);
  margin-left: 20rpx;
}
/*下半部分*/
.half_bottom_text{
  display: flex;
  margin-left: 35rpx;
  margin-top: 30rpx;
  font-size: 25rpx;
}
.half_bottom_text_b{
  font-size: 25rpx;
  color: gray;
  position: absolute;
  top: 300rpx;
  left: 44%;
}
.half_bottom_vip666{
  height: 180rpx;
  width: 350rpx;
  background-color: red;
  border-radius: 20rpx;
  margin-left: 20rpx;
  margin-top: 20rpx;
}