/* pages/mine/level/viprule/viprule.wxss */
page{
  background-color: rgb(241, 241, 241);
}

.top{
  display: flex;
  height: 40px;
  width: 900px;
  margin-left: 35px;
  justify-content: space-between;
  margin-top: 10px;

}


.imagebox{
  display: flex;
  margin-top: 20px;
}

image{
  margin-left: 18px;
  margin-right: 7px;
  width: 320px;
  height: 300px;
  border-radius: 6%;
}

.textbox{
  margin-top: 30px;
  margin-left: 7%;
  width: 85%;
  line-height: 30px;

}
