/* pages/mine/level/viprule/viprule.wxss */
.top{
  display: flex;
  
}


.imagebox{
  display: flex;
}

image{
  margin-left: 18px;
  margin-right: 7px;
  width: 320px;
  height: 300px;
  border-radius: 6%;
}

.textbox{
  margin-top: 30px;
  margin-left: 7%;
  width: 85%;
  line-height: 30px;

}
