/* pages/indexson/friend/friend.wxss */
.fribgi{
  position: relative;
}
.son{
  width: 130rpx;
  height: 50rpx;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  line-height: 50rpx;
  border-radius: 25rpx 0 0 25rpx;
  position: absolute;
  right: 0;
  top: 265rpx;
  color: white;
  font-size: 24rpx;
}