/* pages/mine/pandaShopping/detail/detail.wxss */

/* 熊猫币商城*/
.top{
  /*background: linear-gradient(to right, gold, transparent);*/
  height: 250rpx;
  width: 100%;
  display: flex;
  position: relative;
  background: linear-gradient(#f2dfd2,white);
}
.coin{
  font-size: 28rpx;
  text-align: center;
  position: relative;
  left: 10%;
  top: 30%;
}
.coin .number{
  font-size:50rpx ;
  margin-top: 10rpx;
  
}
.top image{
  height: 150rpx;
  width: 150rpx;
  position: relative;
  left: 60%;
  top: 15%;
}
.notice_main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.notice{
  
  width: 90%;
  display: flex;
  
}
.notice  image{
  height: 60rpx;
  width: 60rpx;
  
}
.notice text{
  line-height: 60rpx;
  font-size: 25rpx;
  margin-left:20rpx ;
  color: #efba64;
}